@model IEnumerable<Global.Data.Quiz>

@{
    ViewBag.Title = "Choose A Quiz";
}

<h2>Suitable Quizzes</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.ActionLink("Take Quiz", "GetQuestionsForQuizId","Question", new { id=item.QuizID },null)
        </td>
    </tr>
}

</table>
