@model Global.Data.Content

@{
    ViewBag.Title = "ViewContent";
}

<h2>@Model.Title</h2>
<h4>@Model.ContentType</h4>
<hr />
<iframe name="maincontent" src=@Model.Url width="800" height="500" frameborder="0" scrolling="auto"></iframe>
<br />

<div>
    @Html.ActionLink("See relevent quizzes", "GetQuizzesByContentId", new { id = Model.ContentId }, new { @class="btn-lg btn btn-success" } )
</div>
