@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <center><h1>Global Warming - What do you know?</h1></center>
</div>

<center><img src="~/Images/main image.jpg" alt="Global warming image" width="90%" /></center>