<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="GlobalEntities" connectionString="metadata=res://*/GlobalDataModel.csdl|res://*/GlobalDataModel.ssdl|res://*/GlobalDataModel.msl;          provider=System.Data.SqlClient;          provider connection string=&quot;          data source=sql6006.site4now.net;          initial catalog=DB_A4D127_quiz;          persist security info=True;          user id=DB_A4D127_quiz_admin;          password=Password1!;          MultipleActiveResultSets=True;          App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>
